<h1>My Profile</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Phone number</th>
      <th>Phone number needs verification?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @user %>
  </tbody>
  
</table>

<br>



<%#= link_to 'New User', new_user_path %>
